pyaztro
brainyquote
urbandict
googletrans==3.1.0a0
translators
pyjokes
git+https://github.com/Rapptz/discord.py
discord
asyncio
aiohttp
async-timeout
attrs
certifi
cffi
chardet
clear

goodlogging
idna
multidict
pycparser
PyNaCl
rarfile
requests
six
urllib3
websockets
yarl
youtube-dl

pip
colorlog
wikipedia
giphy_client

#git+https://github.com/apex2504/disease.py
pytz
datetime
mysql-connector-python
pyrebase

urbandictionary_python
requests